Análisis_Archivo_Malicioso/Análisis Archivo Malicioso en Correo.json
{
  "name": "Análisis Archivos VirusTotal",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://www.virustotal.com/api/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment_0"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -112
      ],
      "id": "b8183e0b-13e0-410c-adae-1a11827b1e0b",
      "name": "VirusTotal HTTP Request",
      "extendsCredential": "virusTotalApi",
      "credentials": {
        "virusTotalApi": {
          "id": "5Y2I4cprvXF2N0xP",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e520461-8a26-42e1-b091-b3d7dcf88041",
              "leftValue": "={{ $json.labelIds[3] }}",
              "rightValue": "INBOX",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        16
      ],
      "id": "afa7eb48-2872-4b6a-b1b0-2d3227798a4e",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -496,
        16
      ],
      "id": "8e57de22-a6cd-493b-8116-d65c06af25ea",
      "name": "Wait",
      "webhookId": "a5b91576-eed9-433c-82f1-6a7389e98f37"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "GET",
        "": "",
        "url": "=https://www.virustotal.com/api/v3/analyses/{{ $json.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -128
      ],
      "id": "8b68bc71-d40d-423c-941c-aeae47e77566",
      "name": "VirusTotal HTTP Request1",
      "extendsCredential": "virusTotalApi",
      "credentials": {
        "virusTotalApi": {
          "id": "5Y2I4cprvXF2N0xP",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Input: items[0][\"json\"] = respuesta completa del endpoint de VT\n\nitem = items[0][\"json\"]\n\n# defensivo: comprobar ruta esperada\nlast_results = (\n    item.get(\"data\", {})\n        .get(\"attributes\", {})\n        .get(\"results\", {})\n    or {}\n)\n\nmalicious = []\nfor engine_name, info in last_results.items():\n    if info and info.get(\"category\", \"\").lower() == \"malicious\":\n        malicious.append({\n            \"engine\": engine_name,\n            \"category\": info.get(\"category\"),\n            \"result\": info.get(\"result\"),\n            \"method\": info.get(\"method\"),\n            \"engine_version\": info.get(\"engine_version\")\n        })\n\nif not malicious:\n    malicious_text = \"Ningún motor marcó el archivo como malicious.\"\nelse:\n    lines = []\n    for m in malicious:\n        line = f\"- {m['engine']}: {m.get('result') or '(sin result)'}\"\n        line += f\" (category={m['category']})\"\n        lines.append(line)\n    malicious_text = \"\\n\".join(lines)\n\n# devolver en formato que n8n espera: lista de items con clave \"json\"\nreturn [{\n    \"json\": {\n        \"malicious_engines\": malicious,\n        \"malicious_text\": malicious_text,\n        \"malicious_count\": len(malicious),\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "b5299260-8424-465a-8fb6-0f3141d6b0ce",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "sendTo": "tu_correo@ejemplo.com",
        "subject": "=Resultados del Análisis del Archivo\n ",
        "emailType": "text",
        "message": "={{ $json.malicious_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        -144
      ],
      "id": "a27d936c-720b-408b-976a-31d1a72058a7",
      "name": "Send a message",
      "webhookId": "912e5b0c-ed9c-42be-a24b-53921612b07e",
      "credentials": {
        "gmailOAuth2": {
          "id": "85soAKBusghCSx66",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -144
      ],
      "id": "cb28190b-117b-46b0-b9d3-e55d2a9909ae",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "85soAKBusghCSx66",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "VirusTotal HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "VirusTotal HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "VirusTotal HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c95caf0b-e3c2-4bf0-9977-a019ca5aae43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff830e47f8e02811244296be6b96cae005b47a09378eb631dc3dff07e441e1f1"
  },
  "id": "aOyrXjCTba0WLnTz",
  "tags": []
}
